@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";

@plugin "flyonui/theme" {
  name: "light";
  default: false;
  --color-primary: indigo;
  --color-secondary: fuchsia;
  --color-accent: lime;
}

@plugin "flyonui/theme" {
  name: "dark";
  default: true;
  --color-primary: indigo;
  --color-secondary: fuchsia;
  --color-accent: lime;
}
@import "flyonui/variants.css";

@source "../../node_modules/flyonui/flyonui.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Ubuntu', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Unica One', ui-serif, system-ui, serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'Fira Code', ui-monospace, system-ui, monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
